* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .logo img {
    width: 180px;
    margin-right: 10px;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid rgba(24, 23, 24, 0);
    background-color: #333;
    color: white;
    font-size: 18px;
  }
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  .signup {
    margin-top: 20px;
    text-align: center;
  }
  .signup a {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }
  .error {
    color: red;
    margin-top: 5px;
  }
  button:focus {
    outline: none;
  }
  body {
    background-image: url('4b47a346-ba89-41bd-b18b-ed62e333a387.jpg');
    background-size: cover;
  }
  body {
    background-image: url('4b47a346-ba89-41bd-b18b-ed62e333a387.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
  @media screen and (max-width: 768px) {
    .container {
      height: auto;
      padding: 20px;
    }
    .logo img {
      width: 120px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    input[type="text"], input[type="password"] {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
  .support a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;}
    .support {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: red;
        color: white;
        padding: 10px;
        border-radius: 5px;
      }
      .nmt{
        background-color: rgba(45, 45, 45, 0.441);
      }